<form method="post" action="{{ path('app_surveillance_taxi_moto_delete', {'matricule': surveillance_taxi_moto.matricule}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ surveillance_taxi_moto.matricule) }}">
    <button class="btn">Delete</button>
</form>
