{% extends 'base.html.twig' %}

{% block title %}New SurveillanceChargement{% endblock %}

{% block body %}
    <h1>Create new SurveillanceChargement</h1>

    {{ include('surveillance_chargement/_form.html.twig') }}

    <a href="{{ path('app_surveillance_chargement_index') }}">back to list</a>
{% endblock %}
