<form method="post" action="{{ path('app_quittance_delete', {'matricule': quittance.matricule}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quittance.matricule) }}">
    <button class="btn">Delete</button>
</form>
