{% extends 'base.html.twig' %}

{% block title %}New AutorisationMateriauxConstruction{% endblock %}

{% block body %}
    <h1>Create new AutorisationMateriauxConstruction</h1>

    {{ include('autorisation_materiaux_construction/_form.html.twig') }}

    <a href="{{ path('app_autorisation_materiaux_construction_index') }}">back to list</a>
{% endblock %}
